
body{
  background: grey;
  background-color: black;
  color: black;
}
.nav-wrapper{
  padding-left: 40px;
  background-color: grey;
  font-size: 30px;
  margin-top: -12px;
  padding-top: 2px;
  label{
    margin-left: 200px;
    color: white;
    font-size: 25px;
  }
}
nav{
  background: grey;
  height: 20%;
}
li{
  list-style: none;
}
.backphoto{
  img{
  width: 100%;
  }
}
// about

.abt{
  width: 800px;
  height: 330px;
}

// .abt{
//   width: 800px;
//   height: 300px;
// }

.aboutme{
  font-size: 20px;
  text-align: center;
  a:hover{
  color: white;
  }
}
// work
.port{

 width: 1200px;
 height: 435px;
 background-color: blue

 // width: 1200px;
 // height: 435px;

img{
  width: 280px;
  }
}
.myport{
  text-align: center;
  .hoverable{
    width: 320px;
    display: inline-table;
    font-size: 20px;
    font-style: bold;
  }
}
.card-panel {
  margin: 18px;
  }
// contact
.contact{
  width: 800px;
  height: 330px;
}

.modal-content{
  background-color: #CDD6DB;
}
.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #CDD6DB;
    padding: 4px 6px;
    height: 58px;
    width: 100%;
}

//   .modal-footer{
//   background-color: #AE8C00;
//   height: 15px;
// }
// .thecont{
//   font-size: 30px;

//    .modal-footer{
//    background-color: #CDD6DB;

//  }
.thecont{
  font-size: 25px;
  text-align: center;
  a:link{
    color: black;
  }
  .fa{
    color: black;
    font-size: 25px;
  }
  a:hover {
    color: white;
  }
}
// Modals for work
.work1{
  text-align: center;
  height: 500px;
  // img{
  // width: 420px;
  height: 378px;
  img{
  width: 420px;
  }
  a:link{
    color: black;
  }
}
.short{
font-family: 'Audiowide', cursive;
}
.trendy{
  font-family: 'Amatic SC', cursive;
}
.elvis{
  font-family: 'Courgette', cursive;
}
 .work2{
  text-align: center;
  height: 430px;
  img{
  width: 420px;
  }
  a:link{
    color: black;
  }
}
// skills
.skills{
  font-size: 25px;
  text-align: center;
}

